/* MODAL CSS */
.modalContainer {
    width:100%;
    height:50%;
    overflow: auto;
}

.projectAuthor, .projectTitle, .projectSource {
    text-align: center;
    font-weight: bold;
}

.projectAuthor {
    font-size: 180%;
}
    /* CENTRIRAM DIVE*/
.projectDescriptionSlo, .projectDescriptionEng {
    width: 80%;
    margin: 0 auto;
}

.projectDescriptionSubtext {
     text-align: center; 
     font-size: 90%;
}