@import url('https://fonts.googleapis.com/css?family=Roboto');


html{
    height:100%;
    background-color:white;
}
body{
    margin: 0px;
    padding: 0px;
    height:100%;
}
.title{
    text-align: center;
    font-size:18px;
    padding: 10px;
}
.container{
    overflow: scroll;
    position: absolute;
    top:60px;
    bottom:0px;
    left:0px;
    right:0px;
}
.content{ 
    width:4120px;
    min-height:2300px;
    position: absolute;
}
.row{
    
    width:4220px;
    height:250px;
    position: relative;
    float: none;
}
.block{
    position: relative;
    float:left;
    width:480px;
    height:230px;
    margin: 10px;
}
.blank{
    background-color: transparent;
}
.first{
    width: 200px;
}

.first-era{
    height:0px;
    width: 200px;
}
.eras{
    height:50px;
}
.era{
    height: 0px;
    text-align: center;
    font-family: 'Roboto', sans-serif;
    background-color: transparent;
    color:#999;
    font-weight: 600;
    font-size: 20px;
    
}

.room{
    background-image: url('../img/bg.png');
    webkit-box-shadow: 0px 0px 10px 0px rgba(50, 50, 50, 0.75);
    -moz-box-shadow:    0px 0px 10px 0px rgba(50, 50, 50, 0.75);
    box-shadow:         0px 0px 10px 0px rgba(50, 50, 50, 0.75);
}
.room:hover{

}
.room-content{
    height:100%;
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
    font-size: 20px;
    text-align: center;
    vertical-align: middle;
    color:rgba(255,255,255,0.8);
    /* Internet Explorer 10 */
    display:-ms-flexbox;
    -ms-flex-pack:center;
    -ms-flex-align:center;

    /* Firefox */
    display:-moz-box;
    -moz-box-pack:center;
    -moz-box-align:center;

    /* Safari, Opera, and Chrome */
    display:-webkit-box;
    -webkit-box-pack:center;
    -webkit-box-align:center;

    /* W3C */
    display:box;
    box-pack:center;
    box-align:center;
}

.room-type{
    position: absolute;
    height:38px;
    top: 0px;
    left: 15px;
    z-index: 1;
    text-align: left;
    font-family: 'Roboto', sans-serif;
    font-size: 20px;
    font-weight: 700;
    padding-top: 12px;
    color:rgba(255,255,255,0.5);
}

.room-year{
    position: absolute;
    height:34px;
    text-align: right;
    top: 0px;
    right: 15px;
    z-index: 1;
    text-align: center;
    font-family: 'Roboto', sans-serif;
    font-size: 18px;
    font-weight: 700;
    padding-top: 16px;
    color:rgba(255,255,255,0.5);
}

.room-image{
    background-position: center;
    height:100%;
    width:100%;
    position: absolute;
    z-index: 10;
    top: 0px;
    left: 0px;
    
}
.room-next{
    width:40px;
    height:40px;
    position: absolute;
    background-image: url('../img/next.png');
    background-size: 30px;
    background-position: center;
    background-repeat: no-repeat;
    opacity: 0.3;
    z-index: 11;
    border-radius: 50%;
}
.room-next:hover{
    opacity: 0.8;
}

.room-next-right{
    top:95px;
    right: 10px;
}
.room-next-left{
    top:95px;
    left: 10px;
    transform: rotate(180deg);
}
.room-next-left-top{
    top:45px;
    left: 10px;
    transform: rotate(180deg);
}
.room-next-left-bottom{
    bottom:45px;
    left: 10px;
    transform: rotate(180deg);
}
.room-next-right-top{
    top:45px;
    right: 10px;
}
.room-next-right-bottom{
    bottom:45px;
    right: 10px;
}
.room-next-bottom{
    bottom:10px;
    left: 230px;
    transform: rotate(90deg);
}
.room-next-top{
    top:10px;
    left: 230px;
    transform: rotate(-90deg);
}

.showRoomTitleAnimation{
    animation-name: showRoomTitle;
    animation-duration: 0.7s;
    animation-timing-function: ease-out;
    animation-fill-mode: forwards;
}

.hideRoomTitleAnimation{
    animation-name: hideRoomTitle;
    animation-duration: 0.7s;
    animation-timing-function: ease-out;
    animation-fill-mode: forwards;
}

@keyframes showRoomTitle{
    to {opacity: 0}
}
@keyframes hideRoomTitle{
    from {opacity: 0.5}
    to {opacity: 1}
}

.markSameType{
    box-sizing:border-box;
    border:10px solid teal;
}

/*zoom room animation*/
.zoomInRoomAnimation{
    animation-name: zoomIn;
    animation-duration: 0.1s;
    animation-timing-function: ease-out;
    animation-fill-mode: forwards;
}

.zoomOutRoomAnimation{
    animation-name: zoomOut;
    animation-duration: 0.1s;
    animation-timing-function: ease-out;
    animation-fill-mode: forwards;
}

@keyframes zoomIn{
    from {transform: scale(1);}
    to {transform:scale(1.02);}
}
@keyframes zoomOut{
    from {transform:scale(1.02);}
    to {transform: scale(1);}
}

.room#room_1_1 .room-image {background-image: url('../img/rooms/1_1.jpg');}
.room#room_1_2_3 .room-image {background-image: url('../img/rooms/1_2ocala.jpg');}
.room#room_1_2_2 .room-image {background-image: url('../img/rooms/1_2projekcija.jpg');}
.room#room_1_2_1 .room-image {background-image: url('../img/rooms/1_2-7-8.jpg');}

.room#room_1_7 .room-image {background-image: url('../img/rooms/1_7.jpg');}
.room#room_1_8 .room-image {background-image: url('../img/rooms/1_8.jpg');}


.room#room_2_3_1 .room-image {background-image: url('../img/rooms/2_3.jpg');}
.room#room_2_3_2 .room-image {background-image: url('../img/rooms/2_3-ljudje.jpg');}
.room#room_2_9 .room-image {background-image: url('../img/rooms/2_9.jpg');}
.room#room_2_10 .room-image {background-image: url('../img/rooms/2_10.jpg');}
.room#room_2_11 .room-image {background-image: url('../img/rooms/2_11.jpg');}
.room#room_2_15 .room-image {background-image: url('../img/rooms/2_16-15-14.jpg');}
.room#room_2_16 .room-image {background-image: url('../img/rooms/2_16-alphatheta.jpg');}

.room#room_3_18 .room-image {background-image: url('../img/rooms/3_18.jpg');}
.room#room_3_21 .room-image {background-image: url('../img/rooms/3_21.jpg');}

.room#room_3_23 .room-image {background-image: url('../img/rooms/3_23.jpg');}
.room#room_3_24 .room-image {background-image: url('../img/rooms/3_24.jpg');}

.room#room_4_25 .room-image {background-image: url('../img/rooms/4_25.jpg');}
.room#room_4_26 .room-image {background-image: url('../img/rooms/4_26.jpg');}

.room#room_5_28 .room-image {background-image: url('../img/rooms/5_28.jpg');}
.room#room_5_29 .room-image {background-image: url('../img/rooms/5_29.jpg');}

.room#room_5_31_1 .room-image {background-image: url('../img/rooms/5_311.jpg');}
.room#room_5_31_2 .room-image {background-image: url('../img/rooms/5_312.jpg');}
.room#room_5_32 .room-image {background-image: url('../img/rooms/5_32.jpg');}

.room#room_6_34 .room-image {background-image: url('../img/rooms/6_34.jpg');}
.room#room_6_35 .room-image {background-image: url('../img/rooms/6_35.jpg');}
.room#room_6_36 .room-image {background-image: url('../img/rooms/6_36.jpg');}
.room#room_6_37 .room-image {background-image: url('../img/rooms/6_38-37.jpg');}
.room#room_6_38 .room-image {background-image: url('../img/rooms/6_38-39-40.jpg');}
.room#room_6_39 .room-image {background-image: url('../img/rooms/6_39.jpg');}
.room#room_6_40 .room-image {background-image: url('../img/rooms/6_40.jpg');}
.room#room_6_41 .room-image {background-image: url('../img/rooms/6_41-ljudje.jpg');}
.room#room_6_42 .room-image {background-image: url('../img/rooms/6_41-42-43-34.jpg');}
.room#room_6_41 .room-image {background-image: url('../img/rooms/6_41-42-43.jpg');}

.room#room_7_44 .room-image {background-image: url('../img/rooms/7_44-ljudje.jpg');}
.room#room_7_45 .room-image {background-image: url('../img/rooms/7_45.jpg');}
.room#room_7_46 .room-image {background-image: url('../img/rooms/7_46.jpg');}
.room#room_7_47 .room-image {background-image: url('../img/rooms/7_47.jpg');}
.room#room_7_50 .room-image {background-image: url('../img/rooms/7_50.jpg');}

.room#room_9_51 .room-image {background-image: url('../img/rooms/9_51.jpg');}
.room#room_9_52_1 .room-image {background-image: url('../img/rooms/9_52.jpg');}
.room#room_9_52_2 .room-image {background-image: url('../img/rooms/9_52-ljudje.jpg');}


.container-all{
    overflow: hidden;
    height:400px;
}

.video-image-container{
    overflow: hidden;
    overflow-x: scroll;
    position: relative;
    height: 800px;
    width:200%;
    transform:scale(0.5);
    transform-origin:0px 0px 0px;
}

.video-image17, .video-image18, .video-image232, .video-image215,
.video-image426, .video-image530, .video-image532, .video-image635,
.video-image642, .video-image643, .video-image750, .video-image951 {
    background-position: left top;
    background-repeat: no-repeat;
    background-size: 100%;
    position: relative;
}
    /* VELIKOST */
.video-image17 {
    width:calc(11812px * 0.2);
    height:calc(3938px * 0.2);
}
.video-image18, .video-image215 {
    width:calc(11812px * 0.2);
    height:calc(3937px * 0.2);
}
.video-image232 {
    width:calc(7875px * 0.2);
    height:calc(5512px * 0.2);
}

.video-image426, .video-image532, .video-image750 {
    width:calc(11811px * 0.2);
    height:calc(3937px * 0.2);
}

.video-image530 {
    width:calc(4724 * 0.3);
    height:calc(1575px * 0.3);
}

.video-image635 {
    width:calc(11333px * 0.2);
    height:calc(3779px * 0.2);
}

.video-image638 {
    background-position: center top;
    background-repeat: no-repeat;
    background-size: 100%;
    position: relative;
    width:calc(3296px * 0.4);
    height:calc(16072px * 0.4);
}

.video-image642 {
    width:calc(11811px * 0.2);
    height:calc(3936px * 0.2);
}

.video-image643 {
    width:calc(11325px * 0.2);
    height:calc(3802px * 0.2);
}

.video-image951 {
    width:calc(11812px * 0.2);
    height:calc(3174px * 0.2);
}
    /* POZICIJE SLIK */
.video-image-video17, .video-image-video18{
    position: absolute;
    width:417px;
    height:315px;
    background-color: red;
}
    /* POZICIJE SLIK POSAMEZNO*/
.video-image-video17{
    left:874px;
    top:281px;
}

.video-image-video18{
    left:1835px;
    top:237px;
}

.sweet-modal-overlay {
    overflow-x: hidden;
}

.projectDescriptionSlo, .projectDescriptionEng {
    font-size: 90%;
}