<div class="row rooms">
	<div class="block first blank"></div>
	<div class="block room" id="room_1_1">
		<div class="room-image"></div>
		<div class="room-content">Belo mleko belih prsi</div>
		<div class="room-type">B</div>
		<div class="room-year">2010</div>
		<div class="room-next room-next-right" data="room_2_10"></div>
		<div class="room-next room-next-bottom" data="room_1_2_3"></div>
	</div>
	<div class="block room" id="room_2_3_1">
		<div class="room-image"></div>
		<div class="room-content">40 x 50 x 80 cm peska pod steklom</div>
		<div class="room-type">A</div>
		<div class="room-year">1969</div>
		<div class="room-next room-next-bottom" data="room_2_3_2"></div>
	</div>
	<div class="block room" id="room_3_18">
		<div class="room-image"></div>
		<div class="room-content">Pokretne slike</div>
		<div class="room-type">F</div>
		<div class="room-year">1981</div>
		<div class="room-next room-next-bottom" data="room_3_21"></div>
	</div>
	<div class="block room" id="room_4_25">
		<div class="room-image"></div>
		<div class="room-content">Gosposvetski sen</div>
		<div class="room-type">G</div>
		<div class="room-year">1987</div>
		<div class="room-next room-next-bottom" data="room_4_26"></div>
	</div>
	<div class="block room" id="room_5_28">
		<div class="room-image"></div>
		<div class="room-content">Madež</div>
		<div class="room-type">C</div>
		<div class="room-year">1991</div>
		<div class="room-next room-next-bottom" data="room_5_28"></div>
	</div>
	<div class="block room" id="room_6_34">
		<div class="room-image"></div>
		<div class="room-content">Metaforične razširitve</div>
		<div class="room-type">B+C</div>
		<div class="room-year">2007/2010</div>
		<div class="room-next room-next-bottom" data="room_6_35"></div>
	</div>
	<div class="block room" id="room_7_44">
		<div class="room-image"></div>
		<div class="room-content">Metonomija zaznave</div>
		<div class="room-type">B</div>
		<div class="room-year">2007/2010</div>
		<div class="room-next room-next-bottom" data="room_7_45"></div>
	</div>
	<div class="block room" id="room_9_51">
		<div class="room-image"></div>
		<div class="room-content">Multimedijska konceptna tabla XVIII</div>
		<div class="room-type">E</div>
		<div class="room-year"></div>
		<div class="room-next room-next-bottom" data="room_9_52_1"></div>
	</div>
</div><div class="row rooms">
	<div class="block first blank"></div>
	<div class="block room" id="room_1_2_3">
		<div class="room-image"></div>
		<div class="room-content">72 h zime in 72 h jeseni</div>
		<div class="room-type">A</div>
		<div class="room-year">1969/2016</div>
		<div class="room-next room-next-top" data="room_1_1"></div>
		<div class="room-next room-next-bottom" data="room_1_2_2"></div>
	</div>
	<div class="block room" id="room_2_3_2">
		<div class="room-image"></div>
		<div class="room-content">40 x 50 x 80 cm peska pod steklom</div>
		<div class="room-type">A</div>
		<div class="room-year">1969</div>
		<div class="room-next room-next-top" data="room_2_3_1"></div>
		<div class="room-next room-next-bottom" data="room_2_9"></div>
	</div>
	<div class="block room" id="room_3_21">
		<div class="room-image"></div>
		<div class="room-content">Spomenik žrtev in orgije: padec človeštva na odeških stopnicah</div>
		<div class="room-type">G</div>
		<div class="room-year">1985</div>
		<div class="room-next room-next-top" data="room_3_18"></div>
		<div class="room-next room-next-bottom" data="room_3_21"></div>
	</div>
	<div class="block room" id="room_4_26">
		<div class="room-image"></div>
		<div class="room-content">Konceptna tabla XI</div>
		<div class="room-type">F</div>
		<div class="room-year"></div>
		<div class="room-next room-next-top" data="room_4_25"></div>
	</div>
	<div class="block room" id="room_5_29">
		<div class="room-image"></div>
		<div class="room-content">Opus Canum</div>
		<div class="room-type">C</div>
		<div class="room-year">1997</div>
		<div class="room-next room-next-top" data="room_5_28"></div>
		<div class="room-next room-next-bottom" data="room_5_30"></div>
	</div>
	<div class="block room" id="room_6_35">
		<div class="room-image"></div>
		<div class="room-content">Konceptna tabla III </div>
		<div class="room-type">E</div>
		<div class="room-year"></div>
		<div class="room-next room-next-top" data="room_6_34"></div>
		<div class="room-next room-next-bottom" data="room_6_36"></div>
	</div>
	<div class="block room" id="room_7_45">
		<div class="room-image"></div>
		<div class="room-content">E-knjižni nomad</div>
		<div class="room-type">D</div>
		<div class="room-year">2010/2011</div>
		<div class="room-next room-next-top" data="room_7_44"></div>
		<div class="room-next room-next-bottom" data="room_7_46"></div>
	</div>
	<div class="block room" id="room_9_52_1">
		<div class="room-image"></div>
		<div class="room-content">Sonifikacija podobe III</div>
		<div class="room-type">A+C</div>
		<div class="room-year">2016</div>
		<div class="room-next room-next-top" data="room_9_51"></div>
		<div class="room-next room-next-bottom" data="room_9_52_2"></div>
	</div>
</div><div class="row rooms">
	<div class="block first blank"></div>
	<div class="block room" id="room_1_2_2">
		<div class="room-image"></div>
		<div class="room-content">72 h zime in 72 h jeseni</div>
		<div class="room-type">A</div>
		<div class="room-year">1969</div>
		<div class="room-next room-next-top" data="room_1_2_3"></div>
		<div class="room-next room-next-bottom" data="room_1_2_1"></div>
	</div>
	<div class="block room" id="room_2_9">
		<div class="room-image"></div>
		<div class="room-content">Wizard</div>
		<div class="room-type">A</div>
		<div class="room-year">1970</div>
		<div class="room-next room-next-top" data="room_2_3_2"></div>
		<div class="room-next room-next-bottom" data="room_2_10"></div>
	</div>
	<div class="block room" id="room_3_22">
		<div class="room-image"></div>
		<div class="room-content">Video anamorfoza I, IX, III </div>
		<div class="room-type">C</div>
		<div class="room-year">1987</div>
		<div class="room-next room-next-top" data="room_3_21"></div>
		<div class="room-next room-next-bottom" data="room_3_23"></div>
	</div>
	<div class="block blank"></div>
	<div class="block room" id="room_5_30">
		<div class="room-image"></div>
		<div class="room-content">Konceptna tabla XV </div>
		<div class="room-type">C</div>
		<div class="room-year">1997</div>
		<div class="room-next room-next-top" data="room_5_29"></div>
		<div class="room-next room-next-bottom" data="room_5_31_1"></div>
	</div>
	<div class="block room" id="room_6_36">
		<div class="room-image"></div>
		<div class="room-content">Rotas Axis Mundi</div>
		<div class="room-type">E</div>
		<div class="room-year">1995/1996</div>
		<div class="room-next room-next-top" data="room_6_35"></div>
		<div class="room-next room-next-bottom" data="room_6_37"></div>
	</div>
	<div class="block room" id="room_7_46">
		<div class="room-image"></div>
		<div class="room-content">Sonifikacija podobe</div>
		<div class="room-type">C</div>
		<div class="room-year">2014</div>
		<div class="room-next room-next-top" data="room_7_45"></div>
		<div class="room-next room-next-bottom" data="room_7_47"></div>
	</div>
	<div class="block room" id="room_9_52_2">
		<div class="room-image"></div>
		<div class="room-content">Sonifikacija podobe III</div>
		<div class="room-type">A</div>
		<div class="room-year">2015</div>
		<div class="room-next room-next-top" data="room_9_52_1"></div>
	</div>
</div><div class="row rooms">
	<div class="block first blank"></div>
	<div class="block room" id="room_1_2_1">
		<div class="room-image"></div>
		<div class="room-content">72 h zime in 72 h jeseni</div>
		<div class="room-type">A</div>
		<div class="room-year">1969</div>
		<div class="room-next room-next-top" data="room_1_2_2"></div>
		<div class="room-next room-next-bottom" data="room_1_7"></div>
	</div>
	<div class="block room" id="room_2_10">
		<div class="room-image"></div>
		<div class="room-content">Miselna vizualizacija objekta</div>
		<div class="room-type">B+C</div>
		<div class="room-year">1972</div>
		<div class="room-next room-next-top" data="room_2_9"></div>
		<div class="room-next room-next-bottom" data="room_2_11"></div>
	</div>
	<div class="block room" id="room_3_23">
		<div class="room-image"></div>
		<div class="room-content">Spomenik žrtev in orgije </div>
		<div class="room-type">G+C</div>
		<div class="room-year">1985</div>
		<div class="room-next room-next-top" data="room_3_22"></div>
		<div class="room-next room-next-bottom" data="room_3_24"></div>
	</div>
	<div class="block blank"></div>
	<div class="block room" id="room_5_31_1">
		<div class="room-image"></div>
		<div class="room-content">Kaj je videoart? Intervju s Srečom Draganom</div>
		<div class="room-type">H</div>
		<div class="room-year">2002</div>
		<div class="room-next room-next-top" data="room_5_30"></div>
		<div class="room-next room-next-bottom" data="room_5_31_2"></div>
	</div>
	<div class="block room" id="room_6_37">
		<div class="room-image"></div>
		<div class="room-content">Rotas Sator v Equrni: Projekt Sreča Dragana</div>
		<div class="room-type">H</div>
		<div class="room-year">1997</div>
		<div class="room-next room-next-top" data="room_6_35"></div>
		<div class="room-next room-next-bottom" data="room_6_37"></div>
	</div>
	<div class="block room" id="room_7_47">
		<div class="room-image"></div>
		<div class="room-content">Metamorfoza lingvistika</div>
		<div class="room-type">C</div>
		<div class="room-year">2007/2010</div>
		<div class="room-next room-next-top" data="room_7_46"></div>
		<div class="room-next room-next-bottom" data="room_7_50"></div>
	</div>
	<div class="block blank"></div>
</div><div class="row rooms">
	<div class="block first blank"></div>
	<div class="block room" id="room_1_7">
		<div class="room-image"></div>
		<div class="room-content">Konceptna tabla VII</div>
		<div class="room-type">A</div>
		<div class="room-year">2010</div>
		<div class="room-next room-next-top" data="room_1_2_1"></div>
		<div class="room-next room-next-bottom" data="room_1_8"></div>
	</div>
	<div class="block room" id="room_2_11">
		<div class="room-image"></div>
		<div class="room-content">Smer relacije senzibilnost-imaginacija</div>
		<div class="room-type">A+B</div>
		<div class="room-year">1972</div>
		<div class="room-next room-next-top" data="room_2_10"></div>
		<div class="room-next room-next-bottom" data="room_2_15"></div>
	</div>
	<div class="block room" id="room_3_24">
		<div class="room-image"></div>
		<div class="room-content">Meščevo zlato</div>
		<div class="room-type">G+C</div>
		<div class="room-year">1987</div>
		<div class="room-next room-next-top" data="room_3_23"></div>
	</div>
	<div class="block blank"></div>
	<div class="block room" id="room_5_31_2">
		<div class="room-image"></div>
		<div class="room-content">Video-integrirani mediji. Srečo Dragan: Rotas - Sator (1993-98), Čas, vržen iz tira (2000-)</div>
		<div class="room-type">H</div>
		<div class="room-year">2002</div>
		<div class="room-next room-next-top" data="room_5_31_1"></div>
		<div class="room-next room-next-bottom" data="room_5_32"></div>
	</div>
	<div class="block room" id="room_6_38">
		<div class="room-image"></div>
		<div class="room-content">Konceptna tabla V</div>
		<div class="room-type">C+D</div>
		<div class="room-year">2006</div>
		<div class="room-next room-next-top" data="room_6_37"></div>
		<div class="room-next room-next-bottom" data="room_6_39"></div>
	</div>
	<div class="block room" id="room_7_50">
		<div class="room-image"></div>
		<div class="room-content">Konceptna tabla XII</div>
		<div class="room-type">G</div>
		<div class="room-year">2007/2010</div>
		<div class="room-next room-next-top" data="room_7_47"></div>
	</div>
	<div class="block blank"></div>
</div><div class="row rooms">
	<div class="block first blank"></div>
	<div class="block room" id="room_1_8">
		<div class="room-image"></div>
		<div class="room-content">Konceptna tabla VI</div>
		<div class="room-type">A</div>
		<div class="room-year">2010</div>
		<div class="room-next room-next-top" data="room_1_7"></div>
	</div>
	<div class="block room" id="room_2_15">
		<div class="room-image"></div>
		<div class="room-content">Konceptna tabla IX</div>
		<div class="room-type">A+B</div>
		<div class="room-year">1974</div>
		<div class="room-next room-next-top" data="room_2_11"></div>
		<div class="room-next room-next-bottom" data="room_2_16"></div>
	</div>
	<div class="block blank"></div>
	<div class="block blank"></div>
	<div class="block room" id="room_5_32">
		<div class="room-image"></div>
		<div class="room-content">Konceptna tabla II</div>
		<div class="room-type">C</div>
		<div class="room-year"></div>
		<div class="room-next room-next-top" data="room_5_31_2"></div>
		<div class="room-next room-next-bottom" data="room_5_33"></div>
	</div>
	<div class="block room" id="room_6_39">
		<div class="room-image"></div>
		<div class="room-content">Paradigma kontrole Arrive – Depart</div>
		<div class="room-type">A</div>
		<div class="room-year">2006</div>
		<div class="room-next room-next-top" data="room_6_38"></div>
		<div class="room-next room-next-bottom" data="room_6_40"></div>
	</div>
	<div class="block blank"></div>
	<div class="block blank"></div>
</div><div class="row rooms">
	<div class="block first blank"></div>
	<div class="block blank"></div>
	<div class="block room" id="room_2_16">
		<div class="room-image"></div>
		<div class="room-content">Alpha Theta Ritem </div>
		<div class="room-type">A+B</div>
		<div class="room-year">1974</div>
		<div class="room-next room-next-top" data="room_2_15"></div>
	</div>
	<div class="block blank"></div>
	<div class="block blank"></div>
	<div class="block room" id="room_5_32">
		<div class="room-image"></div>
		<div class="room-content">Arheus (Piero della Francesca in virtualna umetnost) </div>
		<div class="room-type">E</div>
		<div class="room-year">1992/93</div>
		<div class="room-next room-next-top" data="room_5_32"></div>
	</div>
	<div class="block room" id="room_6_40">
		<div class="room-image"></div>
		<div class="room-content">Paradigma Continuum-Entre-images</div>
		<div class="room-type">B</div>
		<div class="room-year">2014</div>
		<div class="room-next room-next-top" data="room_6_39"></div>
		<div class="room-next room-next-bottom" data="room_6_42"></div>
	</div>
	<div class="block blank"></div>
	<div class="block blank"></div>
</div><div class="row rooms">
	<div class="block first blank"></div>
	<div class="block blank"></div>
	<div class="block blank"></div>
	<div class="block blank"></div>
	<div class="block blank"></div>
	<div class="block blank"></div>
	<div class="block room" id="room_6_42">
		<div class="room-image"></div>
		<div class="room-content">Konceptna tabla XVI</div>
		<div class="room-type">B</div>
		<div class="room-year"></div>
		<div class="room-next room-next-top" data="room_6_40"></div>
		<div class="room-next room-next-bottom" data="room_6_43"></div>
	</div>
	<div class="block blank"></div>
	<div class="block blank"></div>
</div><div class="row rooms">
	<div class="block first blank"></div>
	<div class="block blank"></div>
	<div class="block blank"></div>
	<div class="block blank"></div>
	<div class="block blank"></div>
	<div class="block blank"></div>
	<div class="block room" id="room_6_43">
		<div class="room-image"></div>
		<div class="room-content">Konceptna tabla X</div>
		<div class="room-type">E</div>
		<div class="room-year"></div>
		<div class="room-next room-next-top" data="room_6_42"></div>
	</div>
	<div class="block blank"></div>
	<div class="block blank"></div>
</div>
